@layer reset {
  /* Set box-sizing to border-box for all elements */
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* Reset margins and paddings on most elements */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  p,
  pre,
  blockquote,
  figure,
  hr,
  button {
    margin: 0;
    padding: 0;
  }

	button {
		background: none;
		border: none;
		cursor: pointer;
	}
  /* Remove disc list style */
  ul {
    list-style: none;
  }

  ul.disc {
    list-style: disc;
    margin-left: var(--gap);
  }

  /* Reset forms and buttons */
  input,
  textarea,
  select,
  button {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  /* Easy responsive for media elements */
  embed,
  iframe,
  img,
  object,
  video {
    display: block;
    max-width: 100%;
  }

  /* Hidden */
  [hidden] {
    display: none !important;
  }

  /* noscript styles */
  noscript {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}